html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
  text-align: center;
}

.noto-color emoji-regular {
  font-family: "Noto Color Emoji", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  display: table-cell;
  background-color: rgb(35, 43, 64);
  background-image: url('landscape-5012875_1920.jpg');
  color: rgb(223, 220, 212);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding-top: 30px;
  padding-bottom: 60px;
  background-repeat: no-repeat;
	background-attachment: fixed;
}

input:autofill {
  color: rgb(223, 220, 212) !important;
  background: rgb(41, 43, 44);
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white !important;
}

.search {
  margin:auto;
  width: 345px;
  height: 40px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(41, 43, 44);
  border: 2px solid rgb(223, 220, 212);
  margin-bottom: 20px;
  font-size: 1.15em;
}

.info {

}

.search-size {
  width: 200px;
}

.search-button-size {
  width: 40px;
  font-size: 1.5em;
}

.method-size {
  width: 100px;
  background-color: rgb(41, 43, 44);
  color: rgb(223, 220, 212);
  font-size: 0.8em;
  border: 2px solid rgb(223, 220, 212);
  border-radius: 5px;
}

.search-button-size:hover {
  text-decoration: underline;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin:auto;
}

.button{
  width: 105px;
  height: 40px;
  background-color: rgb(41, 43, 44);
  border: 2px solid rgb(223, 220, 212);
  border-radius: 15px;
  padding: 0px;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 40px;
  font-family: "Noto Color Emoji", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.15em; 
}

.button:hover {
  text-decoration: underline;
}

input {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
}

::placeholder {
  color: #fff;
  opacity: 0.7; 
}

h1 {
  color: rgb(249, 246, 238);
  font-size: 3em;
}

a {
  color: rgb(223, 220, 212);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.title {
  margin-top: 0px;
  margin-bottom: 5px;
}

.article {
  width: 500px;
  height: 205px;  /* 255*/
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 10px;
  background-color: rgb(41, 43, 44);
  border: 2px solid rgb(223, 220, 212);
  border-radius: 15px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.atime {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  display: inline-block !important;
}

.provider-YLE {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 10px;
  display: inline-block !important;
  color: rgb(0,180,200);
  
}

.provider-IS {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 10px;
  display: inline-block !important;
  color: rgb(195, 40, 37);
}

.provider-HS {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 10px;
  display: inline-block !important;
  color: rgb(0, 87, 202);
}

.article > div:first-child {
  display: flex;
  align-items: center;
}


.pagetitle {
  -webkit-text-stroke: 1px rgb(249, 246, 238);
  text-shadow: 0px 3px 4px rgb(41, 43, 44);
}

ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
  width: 1110px;
}

li {
  box-sizing: border-box;
}

.article p {
  flex: 1;
}

p {
  margin: 0px;
}

