<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="static/main.css">
  <title>Uutiset Nyt</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap" rel="stylesheet">
</head>
<body>
  <h1 class="pagetitle"><a href="/">Uutiset Nyt <span class="noto-color">🌍</span></a></h1>
  <form class="search" action="/search" method="POST">
    <input class="search-size" type="text" name="query">
    <input class="search-button-size" type="submit" value="🔍">
    <select class="method-size" name="search_method">
      <option value="method1">TF-IDF pro (default)</option>
      <option value="method2">Neural search</option>
      <option value="method3">Vector search</option>
    </select>
  </form>
  <form action="/sort" method="post" >
    {% if state == "popular-top" %}
      <input class="button" type="submit" name="sort_button" value="Suositut 🔽"/>
      <input class="button" type="submit" name="sort_button" value="Uudet ↕"/>
      <input class="button" type="submit" name="sort_button" value="Tietoa ↕"/>
    {% elif state == "popular-bot" %}
      <input class="button" type="submit" name="sort_button" value="Suositut 🔼"/>
      <input class="button" type="submit" name="sort_button" value="Uudet ↕"/>
      <input class="button" type="submit" name="sort_button" value="Tietoa ↕"/>
    {% elif state == "newest-top" %}
      <input class="button" type="submit" name="sort_button" value="Suositut ↕"/>
      <input class="button" type="submit" name="sort_button" value="Uudet 🔽"/>
      <input class="button" type="submit" name="sort_button" value="Tietoa ↕"/>
    {% elif state == "newest-bot" %}
      <input class="button" type="submit" name="sort_button" value="Suositut ↕"/>
      <input class="button" type="submit" name="sort_button" value="Uudet 🔼"/>
      <input class="button" type="submit" name="sort_button" value="Tietoa ↕"/>
    {% elif state == "info-top" %}
      <input class="button" type="submit" name="sort_button" value="Suositut ↕"/>
      <input class="button" type="submit" name="sort_button" value="Uudet ↕"/>
      <input class="button" type="submit" name="sort_button" value="Tietoa 🔽"/>
    {% elif state == "info-down" %}
      <input class="button" type="submit" name="sort_button" value="Suositut ↕"/>
      <input class="button" type="submit" name="sort_button" value="Uudet ↕"/>
      <input class="button" type="submit" name="sort_button" value="Tietoa 🔼"/>
    {% endif %}
  </form>
  <ul>
    {% for article in articles %}
      <li>
        <div class="article">          
          <div><h3 class="provider-{{ article['provider'] }}">{{ article['provider'] }}</h3> <h5 class="atime">{{ article['date'] }}</h5></div>
          {% if article['header']|length > 90 %}
            <h4 class="title"><a target="_blank" rel="noopener noreferrer" href="{{ article['href'] }}">{{ article['header'] }}</a></h4>
          {% else %}
            <h3 class="title"><a target="_blank" rel="noopener noreferrer" href="{{ article['href'] }}">{{ article['header'] }}</a></h3>
          {% endif %}
          <div class="container">
            <p>{{ article['paragraph'] }}</p>
            <img src="static/somefuture.png" alt="Uutis kuva">
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</body>
</html>