<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="static/main.css">
  <title>Uutiset Nyt</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap" rel="stylesheet">
</head>
<body>
  <h1 class="pagetitle"><a href="/">UutisetNyt <span class="noto-color">🌍</span></a></h1>
  <form class="search" action="/search" method="POST">
    <input class="search-size" type="text" name="query">
    <input class="search-button-size" type="submit" value="🔍">
    <select class="method-size" name="search_method">
      {% if option == "tfidf" %}
      <option value="method1" selected>TF-IDF pro (default)</option>
      <option value="method2">Neural search (doc2vec)</option>
      <option value="method3">Semantic search (transformer)</option>
      {% elif option == "neural" %}
      <option value="method1">TF-IDF pro (default)</option>
      <option value="method2" selected>Neural search (doc2vec)</option>
      <option value="method3">Semantic search (transformer)</option>
      {% elif option == "semantic" %}
      <option value="method1">TF-IDF pro (default)</option>
      <option value="method2">Neural search (doc2vec)</option>
      <option value="method3" selected>Semantic search (transformer)</option>
      {% endif %}
    </select>
  </form>
  <form action="/sort" method="post" >
    {% if state == "popular-top" %}
      <input class="button" type="submit" name="sort_button" value="Suositut 🔽"/>
      <input class="button" type="submit" name="sort_button" value="Uudet ↕"/>
      <input class="button" type="submit" name="sort_button" value="Tietoa ↕"/>
    {% elif state == "popular-bot" %}
      <input class="button" type="submit" name="sort_button" value="Suositut 🔼"/>
      <input class="button" type="submit" name="sort_button" value="Uudet ↕"/>
      <input class="button" type="submit" name="sort_button" value="Tietoa ↕"/>
    {% elif state == "newest-top" %}
      <input class="button" type="submit" name="sort_button" value="Suositut ↕"/>
      <input class="button" type="submit" name="sort_button" value="Uudet 🔽"/>
      <input class="button" type="submit" name="sort_button" value="Tietoa ↕"/>
    {% elif state == "newest-bot" %}
      <input class="button" type="submit" name="sort_button" value="Suositut ↕"/>
      <input class="button" type="submit" name="sort_button" value="Uudet 🔼"/>
      <input class="button" type="submit" name="sort_button" value="Tietoa ↕"/>
    {% elif state == "info-top" %}
      <input class="button" type="submit" name="sort_button" value="Suositut ↕"/>
      <input class="button" type="submit" name="sort_button" value="Uudet ↕"/>
      <input class="button" type="submit" name="sort_button" value="Tietoa 🔽"/>
    {% elif state == "info-down" %}
      <input class="button" type="submit" name="sort_button" value="Suositut ↕"/>
      <input class="button" type="submit" name="sort_button" value="Uudet ↕"/>
      <input class="button" type="submit" name="sort_button" value="Tietoa 🔼"/>
    {% endif %}
  </form>
  {% if state == "info-top" %}
  <div class="info-box">
    <h3>Tietoa</h3>
    <p><b>UutisetNyt</b> on tehokkain tapa saada kaikki päivän tärkeimmät uutiset, sillä autamme sinua löytämään ajankohtaiset aiheet monelta eri suomalaiselta medialta!<br><br>Tarkalleen ottaen <b>UutisetNyt</b> on aggregaattori, hakukone ja suosittelujärjestelmä suomenkielisille uutisille, siten että jokainen linkki uudelleenohjaa alkuperäiseen artikkeliin.<br><br>Voit ottaa meihin yhteyttä: [<b>s</b> <i>at-sign</i> <b>posti</b> <i>dot</i> <b>com</b>].<br>Kaikki palaute ja ehdotukset ovat tervetulleita!</p>
  </div>
  {% else %}
  <div class="info-box">
    <h3>About</h3>
    <p><b>UutisetNyt</b> is the most efficient way of getting your daily news, because we will help you to find the top news from many different Finnish medias!<br><br>In precise terms <b>UutisetNyt</b> is aggregator, search engine and recommendation system for Finnish news, so that every link redirects to their original source.<br><br>You can contact us: [<b>s</b> <i>at-sign</i> <b>posti</b> <i>dot</i> <b>com</b>].<br>Any feedback or recommendations are welcomed!</p>
  {% endif %}
</body>
</html>