<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="static/main.css">
  <title>Uutiset Nyt</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap" rel="stylesheet">
</head>
<body>
  <h1 class="pagetitle"><a href="/">Uutiset Nyt <span class="noto-color">🌍</span></a></h1>
  <form class="search" action="/search" method="POST">
    <input type="text" name="query">
    <input type="submit" value="Haku">
  </form>
  <form action="/sort" method="post" >
    <input class="button" type="submit" name="sort_button" value="Suositut"/>
    <input class="button" type="submit" name="sort_button" value="Uudet"/>
    <input class="button" type="submit" name="sort_button" value="Tilastot"/>
  </form>
  <img src="static/stats.png" alt="Uutis tilastot"
  width="618"
  height="560"/>
</body>
</html>